<html>
    <head>
        <title>NEWS</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
        <div class="ui blue three item inverted menu">
            
            <div class="ui container">
                <div class="header item"><i class="newspaper icon"></i>News Blog</div>
                <a href="/" class="item">Home</a>
                <a href="/blogs/new" class="item">Add News</a>
            </div>
            
            
        </div>
        
        